.container {
  width: 1170px;
  margin: 0 auto;
}

.header {
  width: 100%;
  height: auto;
  background: black;
}

.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .container .logo {
  width: 15%;
  border: 1px solid black;
  height: auto;
  background: red;
  font-size: 1.75rem;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
}

.header .container .logo2 {
  width: 15%;
  border: 1px solid black;
  height: auto;
  background: red;
  font-size: 1.75rem;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
}

.body {
  width: 100%;
  height: 600px;
  background: blue;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.body .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.body .container .text {
  width: 52%;
  height: auto;
  margin: auto;
  text-align: center;
}

.body .container .text h1 {
  width: 100%;
  height: auto;
  font-size: 3.25rem;
}

.boxs {
  width: 100%;
  height: 600px;
  background: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.boxs .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.boxs .container .box1 {
  width: 25%;
  height: 300px;
  background: white;
  -webkit-box-shadow: 1px 1px 1px 0.9px;
          box-shadow: 1px 1px 1px 0.9px;
  border: 1px solid blue;
}

.boxs .container .box1 h2 {
  width: 50%;
  height: auto;
  color: red;
  margin: auto;
  margin-top: 20px;
  text-align: center;
}

.boxs .container .box2 {
  width: 25%;
  height: 300px;
  background: white;
  -webkit-box-shadow: 1px 1px 1px 0.9px;
          box-shadow: 1px 1px 1px 0.9px;
  border: 1px solid blue;
}

.boxs .container .box3 {
  width: 25%;
  height: 300px;
  background: white;
  -webkit-box-shadow: 1px 1px 1px 0.9px;
          box-shadow: 1px 1px 1px 0.9px;
  border: 1px solid blue;
}

.boxs .container .box4 {
  width: 25%;
  height: 300px;
  background: white;
  -webkit-box-shadow: 1px 1px 1px 0.9px;
          box-shadow: 1px 1px 1px 0.9px;
  border: 1px solid blue;
}
/*# sourceMappingURL=style.css.map */